/* nav bar design */
.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: rgb(255, 255, 255);
    top: 0;
    height: 105px;
    z-index: 1;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo {
    width: 200px;
    height: 105px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;

    margin: 30px;
}

.link {
    text-decoration: none;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
}

.Link:hover {
    color: #30b886;
}

/* 
    restaurant carad css------------------------ */

.search {
    margin: 20px;
}

.res-card {
    padding: 5px;
    width: 200px;
    height: 370px;
    margin: 30px;
    text-align: center;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 20px #bdc3c7;
}

.res-container {
    display: flex;
    background-color: #f0f0f0;
    flex-wrap: wrap;
    justify-content: center;
}

.resLink {
    text-decoration: none;
    color: black;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-logo {
    width: 90%;
    height: 40%;
}

.res-card>h4 {
    margin: 15px 0px;
}

/* filter Button css */

.filter-btn {
    margin: 30px 25px;
    cursor: pointer;
    background-color: #2ea44f;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    color: white;
    transition-duration: 0.7s;
    border-radius: 4%;
}

.filter-btn:hover {
    color: black;
    box-shadow: 0px 0px 20px #bdc3c7;
}

.filter {
    display: flex;
    justify-content: left;
}

/* shimmer card style */

.shimmer-cards {
    width: 200px;
    height: 320px;
    margin: 20px;
    background-color: #f0f0f0f0;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-cards>div {
    background: red;
}

/* button style */

.login-btn {
    background-color: #2ea44f;
    /* Green */
    border: none;
    color: rgb(11, 11, 11);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 12px;
    transition-duration: 0.7s;
    cursor: pointer;
    color: white;
    border-radius: 7%;
}

.login-btn:hover {
    color: black;
    box-shadow: 0px 0px 20px #bdc3c7;
}

/* search container style */

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* search box style */

.search-box {
    width: 330px;
    height: 25px;
}

.search-btn {
    display: inline-block;
    margin-left: 10px;
    height: 29px;

    background-color: #30b886;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 9%;
}

.search-btn:hover {
    color: black;
    transition-duration: 0.7s;
    box-shadow: 0px 0px 20px #bdc3c7;
}

/* footer style */

.footer-container {
    background-color: rgb(0, 0, 0);
    margin-top: 100px;
    height: 100px;
    box-shadow: 0px 0px 20px #bdc3c7;
    border: 1px solid rgb(3, 3, 3);
    padding: 10px;
    text-align: center;
}

.footer>h3 {
    padding-top: 25px;
    color: white;
}

/* Link style */

.Link {
    text-decoration: none;
}

/* about page styling */

.user-card {
    padding: 10px;

    border: 1px solid black;
}

.checked {
    color: rgb(23, 186, 23);
}

.label {
    position: absolute;
    background: #121212;
    color: white;
    margin: 9px;
}

/* menu card styling */

.menu {
    text-align: center;
}

.menu,
h2,
h3 {
    margin: 30px 0px;
}

/* .acc-Header {


    background-color: #fbfbfb;
    padding: 10px;

    box-shadow: 0px 0px 20px #bdc3c7;

    width: 50%;
    margin: auto;
} */

.acc-conatiner>span {
    margin: 20px;
    font-weight: bold;
}

.accodian-container {
    padding: 5px;
    background-color: #fbfbfb;

    box-shadow: 0px 0px 20px #bdc3c7;

    width: 50%;
    margin: auto;
}

.acc-conatiner {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition-duration: 0.9s;
}

.acc {
    padding: 7px;
}

.acc-box {
    border-bottom: 0.5px solid black;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.acc-box>p {
    font-weight: lighter;
}

.acc-box>div {
    font-weight: bold;
    padding: 5px;
}

.acc-img {
    width: 110px;
    height: 110px;
}

.acc-by {
    display: flex;
    justify-content: space-between;
}

.ac-btn {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: #2ea44f;
    border: none;
    color: white;
    border-radius: 15%;
}

.ac-btn:hover {
    color: black;
    box-shadow: 0px 0px 20px #bdc3c7;
}

.acc-conatiner>h3 {
    padding-left: 20px;
}

/* cart styling */

/* 
.cart-container>h2 {
    text-align: center;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}


.cart-items {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 20px #bdc3c7;


}

.clr-btn {
    text-align: center;
    margin: 300px, 0px;
    cursor: pointer;
    color: white;
    background-color: #121212;
    padding: 15px;

}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px;

} */

.button-container {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.cartItem-container>h2 {
    text-align: center;
}

.clr-btn {
    border: none;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15%;
    padding: 20px;
    box-shadow: 0px 0px 20px #bdc3c7;
    cursor: pointer;
}

.clr-btn:hover:hover {
    box-shadow: 0px 0px 20px #bdc3c7;
}

.cartItem {
    width: 50%;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.button-container>h3 {
    text-align: center;
}

.text {
    display: flex;
    justify-content: center;
}


/* .res-card>h3 {
    margin: 12px;
} */


.fa-shopping-cart {
    color: orange;
}