/* nav bar design */
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;

    margin: 50px;
}

.link {
    text-decoration: none;
}




.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
    text-decoration: none;

}

/* 
    restaurant carad css------------------------ */

.search {
    margin: 20px;
}

.res-card {
    padding: 5px;
    width: 200px;
    height: 350px;
    margin: 30px;
    text-align: center;
    background-color: #f0f0f0;

}

.res-container {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: center;

}

.resLink {
    text-decoration: none;
    color: black;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-logo {
    width: 100%;
    height: 40%;
}

/* filter Button css */

.filter-btn {
    margin: 30px 25px;
    cursor: pointer;
    background-color: #30b886;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    color: white;
    transition-duration: 0.7s;
}

.filter-btn:hover {
    color: black;
}

.filter {
    display: flex;
    justify-content: left;
}

/* shimmer card style */

.shimmer-cards {
    width: 200px;
    height: 320px;
    margin: 20px;
    background-color: #f0f0f0f0;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-cards>div {
    background: red;
}

/* button style */

.login-btn {
    background-color: #30b886;
    /* Green */
    border: none;
    color: rgb(11, 11, 11);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 12px;
    transition-duration: 0.7s;
    cursor: pointer;
    color: white;
}

.login-btn:hover {
    color: black;
}

/* search container style */

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* search box style */

.search-box {
    width: 330px;
    height: 25px;
}

.search-btn {
    display: inline-block;
    margin-left: 10px;
    height: 29px;

    background-color: #30b886;
    border: none;
    cursor: pointer;
    color: white;
}

.search-btn:hover {
    color: black;
    transition-duration: 0.7s;
}



/* footer style */



.footer-container {
    background-color: rgb(85, 87, 88);
    margin-top: 30px;
    height: 100px;

    border: 1px solid rgb(3, 3, 3);
    padding: 10px;
    text-align: center;

}

.footer>h3 {

    padding-top: 35px;
    color: white;
}

/* Link style */

.Link {
    text-decoration: none;
}


.nav-items>ul>li :hover {
    color: #30b886;
}